---
import SlideShow from "../components/SlideShow.astro";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import GridBackground from "../layouts/GridBackground.astro";
import * as Icons from "@lucide/astro";
import { type Icon as IconType } from "@lucide/astro";
import SimpleButton from "../components/SimpleButton.astro";
import About from "../content/about.md";
import ImageBar from "../components/ImageBar.astro";

interface LinkData {
    href: string;
    desc: string;
    icon?: typeof IconType;
}

const links: Record<string, LinkData> = {
    Nightly: {
        href: "https://paiagram.com/nightly",
        desc: "Run the latest version",
        icon: Icons.FlaskConical,
    },
    Demo: {
        href: "https://paiagram.com/demo",
        desc: "See China Railway's network",
        icon: Icons.Play,
    },
    Docs: {
        href: "https://paiagram.com/docs",
        desc: "Read the documentation",
        icon: Icons.BookOpen,
    },
    About: {
        href: "#about",
        desc: "Learn about me and the project",
        icon: Icons.Info,
    },
};

const extraLinks: Record<string, LinkData> = {
    Robosign: {
        href: "https://paiagram.com/robosign",
        desc: "Create station signs",
        icon: Icons.Milestone,
    },
    "OUD/OUD2 Converter": {
        href: "https://wensimehrp.github.io/Paiagram-oudia/",
        desc: "Convert .oud(2) files to AST and JSON",
        icon: Icons.FileText,
    },
    "OuDia to KDL": {
        href: "https://wensimehrp.github.io/oudia-to-kdl/",
        desc: "Convert OuDia AST to KDL",
        icon: Icons.FileText,
    },
    "App Source": {
        href: "https://github.com/WenSimEHRP/Paiagram",
        desc: "View the source code of Paiagram",
        icon: Icons.Code,
    },
    Twitter: {
        href: "https://twitter.com/WenSimEHRP",
        desc: "Follow me on Twitter",
        icon: Icons.X,
    },
    "Code Reference": {
        href: "https://paiagram.com/nightly/api-docs/paiagram/",
        desc: "API reference",
        icon: Icons.FileCode,
    },
    Mail: {
        href: "mailto:wensimehrp@gmail.com",
        desc: "Contact me via email",
        icon: Icons.Mail,
    },
    "Old Site": {
        href: "https://wensimehrp.github.io",
        desc: "View the old site",
        icon: Icons.Archive,
    },
};
---

<Layout title="Home" extraClass="relative">
    <SlideShow
        duration={10}
        imageUrls={[
            "https://raw.githubusercontent.com/WenSimEHRP/WenSimEHRP/refs/heads/main/_MG_3019.avif",
            "https://github.com/user-attachments/assets/fc14bb3f-7735-4d62-98fa-3cd937254312",
            "https://github.com/user-attachments/assets/3678d11d-ff95-4732-b08d-c2f0acc95ffc",
        ]}
    />
    <GridBackground extraClass="absolute top-[100vh] w-screen inset-0 -z-10" />
    <div
        class="grid grid-cols-1 w-full max-w-7xl mx-auto px-6 sm:px-12 pt-6 sm:pt-12 lg:pt-[calc(8rem)] gap-10 lg:grid-cols-[1fr_26rem] lg:grid-rows-[minmax(calc(100vh-8rem),auto)_min-content_1fr]"
    >
        <div
            class="h-min lg:row-start-1 col-start-1 lg:row-end-3 lg:col-start-2"
        >
            <section
                id="welcome"
                class="min-h-full bg-white/40 backdrop-blur-md shadow-sm lg:rounded-sm"
            >
                <div
                    class="lg:min-h-[calc(100vh-8rem)] flex flex-col gap-4 p-6"
                >
                    <h1
                        class="text-3xl sm:text-4xl lg:text-5xl font-bold text-black mt-6 mb-4 pl-3"
                    >
                        Welcome to Paiagram
                    </h1>
                    {
                        Object.entries(links).map(([name, data]) => (
                            <SimpleButton name={name} data={data} />
                        ))
                    }
                </div>
                <div class="border-t-2 border-gray-900/50 mx-12"></div>
                <div class="flex flex-col gap-4 p-6">
                    {
                        Object.entries(extraLinks).map(([name, data]) => (
                            <SimpleButton name={name} data={data} />
                        ))
                    }
                </div>
            </section>
        </div>
        <div
            class="col-start-1 lg:row-start-2 lg:row-span-2 lg:col-start-1 col-span-1 mt-10 lg:mt-20"
        >
            <article id="about" class="prose">
                <h1 id="about-paiagram">About Paiagram</h1>
                <ImageBar
                    width="100%"
                    imageSrc={[
                        "https://github.com/user-attachments/assets/3819f7b5-c33c-4e71-90a4-d61d8a4bb93b",
                        "https://github.com/user-attachments/assets/1b53f533-ec6e-4183-b7d1-fbf471545318",
                        "https://raw.githubusercontent.com/WenSimEHRP/Paiagram-typst/28c978a0aa676dc7ca4db37f5aa84257b9b3a1c6/jinghu.svg",
                    ]}
                />
                <p>
                    Paiagram is a timetable visualizer and Marey chart editor.
                    It's designed with performance in mind.
                </p>
                <About />
            </article>
        </div>
        <div
            class="row-span-1 col-start-1 lg:row-start-3 lg:col-start-2 col-span-1"
        >
            Hi! This is the sidebar. There aren't much to fill in yet, but you
            would see new stuff here in the future!
        </div>
    </div>
    <section
        id="end"
        class="text-sm text-neutral-700 w-full text-center pt-12 pb-6 px-6"
    >
        This page contains a minimum amount of JavaScript. You can block it by
        installing an Ad blocker.
        <br />
        It's only the footer after this point. Do you want to <a
            href="#welcome"
            class="text-black underline">scroll back up?</a
        >
    </section>
</Layout>
